<table>
    <thead>
        <tr>
            <th>שם משתמש</th>
            <th>סיסמא</th>
            <th>האם ממנהלי העמותה</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" [(ngModel)]="user.userName" style="border:none"></td>
            <td><input type="text" [(ngModel)]="user.password" style="border:none"></td>
            <td>
                <select [(ngModel)]="users.isAdmin" style="border:none">
                         <option [ngValue]="true">כן</option>
                         <option [ngValue]="false" >לא</option>
                    </select>
            </td>
        </tr>
    </tbody>
</table>