<div>
    <h1>תרומות</h1>
    <table>
        <thead>
            <tr>
                <th>"תאריך"</th>
                <th>"סכום לתרומה"</th>
                <th>"צורת תשלום"</th>
                <th>"תודות"</th>
                <th>"הערות"</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
        <tr *ngFor="let d in donations">
            <td>{{d.}}</td>
            <td>d.</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>