<md-toolbar>

    <b>אור עיני - לוגו</b>
    <div>
        <b>ישראל ישראלי</b>
        <button style="text-align:right">צא </button>
    </div>

    <md-toolbar-row color="black">
        <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
        <!-- <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
        <a [routerLink]="['/fetch-data']">
                         Fetch data
                    </a>
        <a [routerLink]="['/hello']">
                        <span class='glyphicon glyphicon-user'></span> Hello
                    </a>
        <a [routerLink]="['/weather']">
                        <span class='glyphicon glyphicon-cloud'></span> City Weather
                    </a>-->
        <a [routerLink]="['/customers']">
                        <span class='glyphicon glyphicon-cloud'></span> צור קשר
                    </a>
        <a [routerLink]="['/customers']">
                        <span class='glyphicon glyphicon-cloud'></span> פעילויות
                    </a>
        <a [routerLink]="['/managementOrEnay']">
                        <span class='glyphicon glyphicon-cloud'></span> ניהול
                    </a>
        <a [routerLink]="['/customers']">
                        <span class='glyphicon glyphicon-cloud'></span> אודותינו
                    </a>
        <a [routerLink]="['/customers']">
                        <span class='glyphicon glyphicon-cloud'></span> לקוחות
                    </a>
        <a [routerLink]="['/donors']">
                        <span class='glyphicon glyphicon-cloud'></span> תורמים
                    </a>

    </md-toolbar-row>
</md-toolbar>