<div class="panel panel-info">
    <div class="panel-heading">
        Hello World
    </div>
    <!--<div class="panel-body">-->
        Here's some text to get us started....
    <!--<ul>
        <li *ngFor="let hero of heroes">
            {{ hero }}
        </li>
    </ul>
    <tabs>
      <tab tabTitle="Tab 1">Tab 1 Content</tab>
      <tab tabTitle="Tab 2">Tab 2 Content</tab>
      <tab tabTitle="Tab 3">Tab 2 Content</tab>
      <tab tabTitle="Tab 42">Tab 2 Content</tab>
      <tab tabTitle="Tab 52">Tab 2 Content</tab>
    </tabs>-->
   
        <div *ngFor="let contact of allContacts">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 ">
                    <h3>{{contact.Name }}</h3>
                    <span>{{contact.Tel}}</span>
                </div>
            </div>
        </div>
    </div>
 
<!--</div>-->

