<div class='container-fluid'>


  <div class='row'>
    <form class="form">
      <md-input-container>
        <input mdInput placeholder="בחר לקוח" [mdAutocomplete]="auto" [formControl]="customerCtrl" [(ngModel)]="selectedCustomer">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayCustomer">
        <md-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
          {{customer.fullName}}
        </md-option>
      </md-autocomplete>
    </form>
  </div>



  <div class='row'>
    <app-customer [currentCustomer]="selectedCustomer"> </app-customer>
  </div>


</div>