<div class="row container-fluid">
    <div class="col-md-9">
        <donation *ngIf="selectedDonor" [currentDonor]="selectedDonor"> </donation>
    </div>
    <div class="col-md-3">
        <md-input-container >
                <!-- class="autocomplete" -->
            <input mdInput placeholder="בחר תורם"  [mdAutocomplete]="auto" [formControl]="donorCtrl" [(ngModel)]="selectedDonor">
        </md-input-container>
       
     
        <md-autocomplete #auto="mdAutocomplete"    [displayWith]="displayDonor">
            <md-option *ngFor="let d of filteredDonors | async" [value]="d">
                {{d.fullName}}
            </md-option>
        </md-autocomplete>
        <span class="btn-group">
                    <!-- <div class="container">
                        <button class="btn btn-default" (click)=showConfirm()>Show confirm</button>
                    </div> -->
        <button *ngIf="selectedDonor" md-button class="btn btn-primary" (click)="showEditDialog()">ערוך</button>
        <button *ngIf="selectedDonor" md-button class="btn btn-primary" (click)="deleteDonor()">מחק</button>
        <button *ngIf="selectedDonor" md-button class="btn btn-primary" (click)="showAddDialog()">הוסף</button>
        <!-- <input type="text" *ngIf="selectedDonor" [(ngModel)]="donor.fullName">  -->
        <!--https://github.com/ng2-ui/popup-->
       </span>

    </div>

</div>
<div class="col-md-3">
    <button *ngIf="selectedDonor"  (click)="saveDonations()" class="btn btn-success" >שמור</button>
    <button *ngIf="selectedDonor" (click)="cancel()"  class="btn btn-primary" >בטל</button> 
</div>
<!--<select [(ngModel)]="selectedValue">
       <option *ngFor="let d of donors" [ngValue]="d">{{d.name}}</option>
    </select>-->