

<form class="form" #customerDetailsForm="ngForm" *ngIf="_currentCustomer" (ngSubmit)="customerDetailsForm.form.valid && save()" >
  <div class="form-group">
    <label for="firstname">שם פרטי:</label>
    <md-input-container>
      <input #fn  id="firstName" name="firstName" required mdInput placeholder="שם פרטי" [(ngModel)]="_currentCustomer.firstName">
    </md-input-container>
    <md-input-container>
        <input #fn  id="lastName" name="lastName" required mdInput placeholder="שם משפחה" [(ngModel)]="_currentCustomer.lastName">
      </md-input-container>
    <md-input-container>
        <input #fn  id="tz" name="tz" required mdInput placeholder="תעודת זהות" [(ngModel)]="_currentCustomer.tz">
    </md-input-container>
    <md-input-container>
        <input #fn  id="notes" name="notes" required mdInput placeholder="הערות" [(ngModel)]="_currentCustomer.notes">
    </md-input-container>      
   <!-- <br>TODO: remove this: {{fn.className}}-->
  </div>

  <!-- <div class="form-group">
    <label for="fullname">שם משפחה:</label>
    <md-input-container>
      <input class="form-control" id="fullname" name="fullname" required mdInput placeholder="שם משפחה" [(ngModel)]="_currentCustomer.fullName"
      >    
    </md-input-container>
    
  </div> -->
  <div class="col-md-6">
  <button [disabled]="!customerDetailsForm.form.valid" type="submit" class="btn btn-success" >שמירה</button>
  </div>
</form> 
 <!-- (change)="Dirty=true"> -->