<div class="div1">
    <table class="table">
        <thead class="thead">
            <tr>
                <th>תאריך</th>
                <th>שם מייעץ</th>
                <th>פירוט</th>
                <th>שם פונה</th>
                <th>סוג ייעוץ</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let p of processes">
                <td>{{p.dateProcess}}</td>
                <td>{{p.advisingName}}</td>
                <td>{{p.detail}}</td>
                <td>{{p.parentsName}}</td>
                <td>{{p.processType}}</td>
            </tr>
            <tr>
                <td>
                    <input placeholder="תאריך" type="date" date="dd-MM-yyyy" [(ngModel)]="p.dateProcess" style="border:none">
                </td>
                <td>
                    <input placeholder="שם מייעץ" type="text" [(ngModel)]="p.advisingName" style="border:none">
                </td>
                <td>
                    <input placeholder="פירוט" type="text" [(ngModel)]="p.detail" style="border:none">
                </td>
                <td>
                    <input placeholder="שם פונה" type="text" [(ngModel)]="p.parentsName" style="border:none">
                </td>
                <td>
                    <select placeholder="סןג ייעוץ" [(ngModel)]="p.processType" style="border:none">
                        <option  *ngFor="let item of processTypeTable"  [ngValue]="item.id">item.Description</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>