<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">ערוך פרטי תורם</h4>
        </div>
        <div class="modal-body">
            <input class="form-control" type="text" [(ngModel)]="donor.firstName" placeholder="שם פרטי">
            <input class="form-control" type="text" [(ngModel)]="donor.lastName" placeholder="שם משפחה">
            <input class="form-control" type="text" [(ngModel)]="donor.fullAdress" placeholder="כתובת מלאה">
            <input class="form-control" type="text" [(ngModel)]="donor.details" placeholder=" פרטים נוספים">
            <input class="form-control" type="tel" [(ngModel)]="donor.phone" placeholder="טלפון">
            <input class="form-control" type="email" [(ngModel)]="donor.email" placeholder="אימייל">
            <!-- <input class="form-control" type="tel" [(ngModel)]="donor.phone" placeholder="טלפון"> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm()">ערוך</button>
            <button type="button" class="btn btn-default" (click)="cancel()">בטל</button>
        </div>
    </div>
</div>



<!-- <h1 class="mat-dialog-title" id="md-dialog-title-3">ערוך פרטי תורם</h1>
<md-dialog-content>
    <md-input-container>
        <input class="details" md-input type="text" [(ngModel)]="donor.firstName" placeholder="שם פרטי">
    </md-input-container>
    <md-input-container>
        <input class="details" md-input type="text" [(ngModel)]="donor.lastName" placeholder="שם משפחה">
    </md-input-container>
    <md-input-container>
        <input class="details" type="text" [(ngModel)]="donor.fullAdress" placeholder="כתובת מלאה">
    </md-input-container>
    <md-input-container class="details">
        <input class="details" type="text" [(ngModel)]="donor.details" placeholder=" פרטים נוספים">
    </md-input-container>
    <md-input-container>
        <input class="details" type="tel" [(ngModel)]="donor.phone" placeholder="טלפון">
    </md-input-container>
    <md-input-container class="details">
        <input class="details" type="email" [(ngModel)]="donor.email" placeholder="אימייל">
    </md-input-container>
</md-dialog-content>

<div class="mat-dialog-actions">
    <button md-button md-dialog-close color="primary" (click)="dialogRef.close()">
      ערוך 
    </button>
    <button md-button md-dialog-close color="primary" (click)="dialogRef.close()">
      בטל
    </button>
</div> -->