
<form #managementProblemForm="ngForm" class="col-sm-3 col-sm-offset-4 divSchool" (ngSubmit)="managementProblemForm.form.valid && save()">
    <h3>הוסף סוג ליקוי חדש</h3>
    <div class="form-group">
        <label for="problem.name">שם ליקוי</label> 
        <input class="form-control" type="text" name="name" required [(ngModel)]="problem.name" placeholder="שם ליקוי">
    </div>
    <div class="form-group">
        <label for="problem.details">פרטים</label>
        <input class="form-control" type="text" name="details" required [(ngModel)]="problem.details"  placeholder="פרטים">
    </div>
    <button [disabled]="!managementProblemForm.form.valid" type="submit" class="btn btn-success" >שמירה</button>
    <button (click)="cancel()"  class="btn btn-primary" >בטל</button>
  </form>