<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OrEnayEntities"
         connectionString="metadata=res://*/OrEnayEntities.csdl|res://*/OrEnayEntities.ssdl|res://*/OrEnayEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=DESKTOP-VPOLABJ;
         initial catalog=OrEnay;
         integrated security=True;
         MultipleActiveResultSets=True;
         App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>