<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">הוסף תורם חדש</h4>
        </div>
        <div class="modal-body">
            <input class="form-control" type="text" [(ngModel)]="donor.firstName" placeholder="שם פרטי">
            <input class="form-control" type="text" [(ngModel)]="donor.lastName" placeholder="שם משפחה">
            <input class="form-control" type="text" [(ngModel)]="donor.fullAdress" placeholder="כתובת מלאה">
            <input class="form-control" type="text" [(ngModel)]="donor.details" placeholder=" פרטים נוספים">
            <input class="form-control" type="tel" [(ngModel)]="donor.phone" placeholder="טלפון">
            <input class="form-control" type="email" [(ngModel)]="donor.email" placeholder="אימייל">
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm()">שמור</button>
            <button type="button" class="btn btn-default" (click)="cancel()">בטל</button>
        </div>
    </div>
</div>